.shadow-box{
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 15px;
    padding: 1.5em;
    margin-bottom: 2em;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow: hidden;
}

.auth-container {
    margin-top: 100px;
    margin-bottom: 150px;
}

.form-group{
    margin-top: 15px;
    margin-bottom: 35px;
}

.input-label {
    margin: 3px auto 4px auto;
    display: block;
}

.text-control{
    width: 85%;
    padding: 0.65em;
    border-radius: 15px;
    border: 0;
    margin: 3px auto 5px auto;
    display: block;
    -webkit-box-shadow: 0px 0px 3px -1px rgba(128,128,128,1);
    -moz-box-shadow: 0px 0px 3px -1px rgba(128,128,128,1);
    box-shadow: 0px 0px 3px -1px rgba(128,128,128,1);
}

.text-control:focus {
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 5px 2px rgb(166, 204, 255);
    -moz-box-shadow: 0px 0px 5px 2px rgb(166, 204, 255);
    box-shadow: 0px 0px 5px 2px rgb(166, 204, 255);
}

.blue-standard-button {
    background-color: rgb(24, 152, 207);
    color: #fafafa;
} 
.blue-standard-button:hover {
    background-color: rgb(22, 136, 185);
    color: #fafafa;
    text-decoration: none;
}

.blue-button {
    display: block;
    padding: .5em;
    border-radius: 35px;
    color: #fafafa !important;
    background: linear-gradient(120deg, rgb(24, 152, 207) 0%, rgb(118, 207, 245) 100%);
    margin: 15px auto 15px auto;
    min-width: 125px;
    min-height: 45px;
}

.blue-button:hover {
    background: linear-gradient(120deg, rgb(24, 152, 207) 100%, rgb(118, 207, 245) 0%);
    -webkit-box-shadow: 0px 0px 5px 2px  rgb(24, 152, 207);    
    -moz-box-shadow: 0px 0px 5px 2px  rgb(24, 152, 207);   
    box-shadow: 0px 0px 5px 2px rgb(24, 152, 207); 
    transition: all 1s ease-in-out;
}

.light-button {
    display: block;
    padding: .5em;
    border-radius: 35px;
    color: #555555 !important;
    background: linear-gradient(120deg, rgb(209, 235, 247) 0%, rgb(246, 252, 255) 100%);
    margin: 15px auto 15px auto;
    min-width: 125px;
    min-height: 45px;
}

.light-button:hover {
    background: linear-gradient(120deg, rgb(209, 235, 247) 100%,  rgb(246, 252, 255) 0%);
    -webkit-box-shadow: 0px 0px 5px 2px  rgb(188, 235, 255);    
    -moz-box-shadow: 0px 0px 5px 2px  rgb(188, 235, 255);   
    box-shadow: 0px 0px 5px 2px rgb(188, 235, 255); 
    transition: all 1s ease-in-out;
}

.red-button {
    display: block;
    padding: .5em;
    border-radius: 35px;
    color: #fafafa !important;
    background: linear-gradient(90deg, #ff0000 0%, #ff6565 100%);
    margin: 45px auto 15px auto;
    min-width: 125px;
    min-height: 45px;
}
.red-button:hover {
    background: linear-gradient(120deg, #ff0000 0%, #ff6565 100%);
    -webkit-box-shadow: 0px 0px 15px 4px rgb(255, 79, 79);
    -moz-box-shadow: 0px 0px 15px 4px rgb(255, 79, 79);
    box-shadow: 0px 0px 15px 4px rgb(255, 79, 79);
    transition: all 1s ease-in-out;
}

.back-arrow-btn {
    background-color: #f5f3f5;
    font-size: 1.5em;
    min-width: 75px;
    min-height: 55px;
}

.fade-in {
    display: block;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.hidden{
    opacity: 0;
}

    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }